body {
  background-color: #6B9FC8;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1C2235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FBF9F9;
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  main {
    width: 800px;
    margin: auto;
    min-height: 200vh;
  }
}

nav {
  padding-top: 0;
  background-color: #73648E;
  margin-top:0;
  margin-bottom: 0;
  height: 5vh;
  line-height: 5vh;
}

.review {
  background-color: #FBF9F9;
  border: 3px solid #73648E;
  margin: 10px;
}

.review img {
  width: 100%;
}

.errorMessage {
  color: red
}

.successMessage {
  color: green
}

.comments {
  list-style-type: none;
  padding-left: 0;
}

.comments li {
  background-color: #FBF9F9;
  border: 3px solid #73648E;
  margin: 10px;
}

button {
  background-color: #6B9FC8;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.login {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  background-color: #FBF9F9;
}

.reviewList {
  list-style-type: none;
  padding-left: 0;
}

.reviewList li {
  background-color: #FBF9F9;
  border: 3px solid #73648E;
  margin: 10px;
}

.reviewList__Header {
  border: 2px solid #73648E;
  margin: 5px;
  height: auto;
}

.reviewList__Body {
  border: 2px solid #73648E;
  margin: 5px;
}

.reviewList__Body p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.newComment button{
  font-size: 0.9em;
  margin-left: 10px;
}

.newComment__Field {
  resize: none;
  height: 12vh;
  width: 75%;
  margin-bottom: -2px;
}