.App {
  background-color: #6B9FC8;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1C2235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FBF9F9;
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  main {
    width: 800px;
    margin: auto;
  }
}

nav {
  padding-top: 0;
  background-color: #73648E;
  margin-top:0;
  margin-bottom: 0;
  height: 5vh;
  line-height: 5vh;
}

.reviewList {
  list-style-type: none;
  padding-left: 0;
}

.reviewList li {
  background-color: #FBF9F9;
  border: 3px solid #73648E;
  margin: 10px;
}

.reviewList-Header {
  border: 2px solid #73648E;
  margin: 5px;
}

.reviewList-Body {
  border: 2px solid #73648E;
  margin: 5px;
  overflow:scroll;
  height: 10vh;
}